#stpara{
    
    background-color: yellowgreen;

}
#ndpara{
background-color: rgb(196, 144, 196);
}
#rdpara{
    background-color: rgb(168, 180, 190);
}
.para{
    background-color: #dd82bf28;
}
.abc{
    background-color: hsl(240, 22%, 55%);
}