.box{
    width: 400px;
    height: 400px;
    background-color: rgb(150, 150, 216);
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items:center ;
    margin: auto;
    transition-duration: 3s;
    transition-property: all;

}
.con{height: 100vh;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-content: center;
}
.box:hover{
    /* transform: rotate(360deg); */
    /* transform: scale(2); */
    /* transform: scale(0.5); */
    /* transform: rotate(-45deg); */
    /* transform: skew(40deg); */
    transform: translate(300px, 200px);
}
p{
    font-size: 36px;
}